* {
    margin: 0;
}


header {
    background-image: url('images/bg-header-desktop.png');
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-logo {
    margin: 0 auto;
}

.divider {
    display: block;
}
