/* Variables */
:root {
    --blue: hsl(233, 100%, 69%);
    --cyan: hsl(171, 66%, 44%);
    --grey: hsl(201, 11%, 66%);
    --dark-grey: hsl(210, 10%, 33%);
}

* {
    margin: 0;
    font-family: 'Bai Jamjuree', 'arial';
}


header {
    background-image: url('images/bg-header-desktop.png');
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-logo {
    margin: 0 auto;
}

.divider {
    display: block;
}
